
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 302px;
    width: 302px;
    display: grid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
}
h1, h3{
    display: flex;
    justify-content: center;
}
p{
    display: flex;
    justify-content: center;
}
.block{
    border : 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.block:hover{
    text:"X";
}
#update{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
}
#reset{
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -80%);
}
